extends ../base_page

append head
    link(rel="stylesheet", href="/stylesheets/admin.css")

block before_content
    nav.submenu-nav
        a(href="/admin/users")
            span.fa.fa-user.icon
            | users
        a(href="/admin/teams")
            span.fa.fa-users.icon
            | teams
        a(href="/admin/documents")
            span.fa.fa-folder.icon
            | documents
        a(href="/logout")
            span.fa.fa-power-off.icon
            | logout
