extends ../base_page

append head
    link(rel="stylesheet", href="/stylesheets/admin.css")

block before_content
    .submenu-container
        .wrapper.clearfix
            nav
                ul
                    li: a(href="/admin")
                        span.fa.fa-user.icon
                        | users
                    li: a(href="/admin/teams")
                        span.fa.fa-users.icon
                        | teams
                    li: a(href="/admin/documents")
                        span.fa.fa-folder.icon
                        | documents
                    li: a(href="/logout")
                        span.fa.fa-power-off.icon
                        | logout
