extends base

block title
    | qb

block body
    .header-container
        header.wrapper.clearfix
            h1.title qb
            nav
                ul
                    li: a(href="/about")
                            span.fa.fa-info-circle.icon
                            | about
                    li: a(href="/pricing")
                            span.fa.fa-money.icon
                            | pricing
                    li: a(href="/login")
                            span.fa.fa-user.icon
                            | login

    block before_content

    .main-contaier
        .main.wrapper.clearfix
            block content

    .footer-container
        footer.wrapper
            | Garret made it