extends base

block title
    | qb

block body
    header.flexbox-header
        h1.header-logo: a(href="/") qb
        nav.header-nav
            a(href="/about")
                span.fa.fa-info-circle.icon
                | about
            if !logged_in
                a(href="/login")
                    span.fa.fa-user.icon
                    | login
            else
                a(href="/user")
                    span.fa.fa-user.icon
                    = username
            if admin
                a(href="/admin")
                    span.fa.fa-terminal.icon
                    | admin

    block before_content

    .main-container
        block content

    footer.flexbox-footer
        | Garret made it
