extends base_page

block title
    | qb main page

block before_content
    .jumbotron-container
        img.centered(src="/images/cellphone.png")

block content
    .features-container.clearfix
        .feature
            h2
                span.fa.fa-tachometer.icon
                | Fast as in "breakfast".
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            |  Maecenas non diam mollis, scelerisque nibh a, pellentesque
            |  ligula. Suspendisse venenatis placerat mi nec faucibus.
        .feature
            h2
                span.fa.fa-check.icon
                | Works in any browser. Except of IE.
            | Nam ac tempor nisl. Cum sociis natoque penatibus et magnis
            |  dis parturient montes, nascetur ridiculus mus.
        .feature
            h2
                span.fa.fa-cloud.icon
                | Cloud. Because fuck you, thats why!
            | Nulla rutrum ut orci vitae mattis. In eu porttitor leo. In
            |  blandit, felis vitae volutpat rhoncus, lorem nisi facilisis
            |  mauris, sed facilisis libero leo sodales libero. Maecenas sit
            |  amet dapibus nisl, at luctus enim. Nunc ante erat, aliquet
            |  consequat tincidunt quis, lacinia in metus.
        .feature
            h2
                span.fa.fa-bug.icon
                | Full of bugs.
            | Nulla cursus auctor aliquam. Morbi pulvinar suscipit massa, et varius
            |  quam vestibulum sed. Sed a sodales nisl, a commodo lorem.
        .feature
            h2
                span.fa.fa-credit-card.icon
                | Expensive.
            | In condimentum condimentum diam, id varius nulla dapibus ut.
            | Vestibulum cursus malesuada nibh, eu tincidunt felis sollicitudin ac.
            | Suspendisse laoreet porttitor velit in tincidunt.
        .feature
            h2
                span.fa.fa-cogs.icon
                | Using bleeding-edge (== untested) technologies.
            | Phasellus justo mauris, posuere non pulvinar nec, posuere a lorem.
            | Nam sed orci nunc. Morbi nulla odio, ornare in dignissim sit amet,
            | feugiat non ante. In sed tellus nec purus tincidunt suscipit. Etiam
            | quis sem lectus.
    hr
    p
        | Nulla cursus auctor aliquam. Morbi pulvinar suscipit massa, et varius
        |  quam vestibulum sed. Sed a sodales nisl, a commodo lorem. Integer
        |  elementum urna sed aliquam egestas. Integer viverra varius nunc. Aliquam
        |  rutrum ante hendrerit urna luctus, eget consequat lacus cursus. In quam
        |  ipsum, vulputate non rhoncus non, vulputate at ligula. Suspendisse
        |  consectetur a lorem nec dignissim. Nam sagittis urna id elit sodales
        |  gravida. Donec vitae viverra sem. Vivamus posuere gravida eros ut
        |  volutpat. Curabitur tincidunt libero tortor, non egestas justo dignissim
        |  et.
    p
        | In condimentum condimentum diam, id varius nulla dapibus ut.
        | Vestibulum cursus malesuada nibh, eu tincidunt felis sollicitudin ac.
        | Suspendisse laoreet porttitor velit in tincidunt. Ut sed rhoncus
        | felis. Nullam in leo odio. Sed aliquam faucibus ornare. Integer nec
        | lacus justo. In hac habitasse platea dictumst.
    p
        | Etiam adipiscing justo eget euismod consequat. Phasellus facilisis
        | est ac dolor volutpat, viverra tempus ante pretium. Phasellus laoreet
        | vehicula odio, id lobortis eros. Donec urna dolor, semper id velit
        | vel, viverra venenatis dolor. Aenean mattis suscipit ullamcorper.
        | Phasellus justo mauris, posuere non pulvinar nec, posuere a lorem.
        | Nam sed orci nunc. Morbi nulla odio, ornare in dignissim sit amet,
        | feugiat non ante. In sed tellus nec purus tincidunt suscipit. Etiam
        | quis sem lectus.