extends ../base_page

block before_content
    nav.submenu-nav
        a(href="/user")
            span.fa.fa-folder.icon
            | index
        a(href="/user/upload")
            span.fa.fa-upload.icon
            | upload
        a(href="/user/settings")
            span.fa.fa-cogs.icon
            | settings
        a(href="/logout")
            span.fa.fa-power-off.icon
            | logout
