extends ../base

block body
    input#nameinp(type="text")
    button#sendbtn() Send

block scripts
    script.
        var ID = !{ JSON.stringify(ID) };
    script(src="/socket.io/socket.io.js")
    script(src="/javascript/presenter.js")