extends base_user

block content
    .upload-form
        form(method="post", enctype="multipart/form-data")
            input(type="file", name="file")
            input(type="Submit", value="Upload")