/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro|Libre+Baskerville&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=PT+Sans);

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    overflow-y: scroll;
}

::-moz-selection {
    background: #ffe4aa;
    text-shadow: none;
}

::selection {
    background: #ffe4aa;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Libre Baskerville', Helvetica, Helvetica Neue, Arial;
    background: white;
    text-align: justify;
}

.jumbotron-container {
    background: #2a2a2a;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.header-container {
    /*border-bottom: 1px solid #ff5e51;*/
    background: #3EABBB;
    line-height: 0;
}

.submenu-container {
    line-height: 0;
    border-bottom: 1px solid #3EABBB;
}

.footer-container {
    /*border-top: 1px solid #ff5e51;*/
}

.header-container,
.footer-container,
.main aside {
    /*background: #236267;*/
}

.footer-container {
    background: #3EABBB;
    font-family: 'Source Sans Pro', sans-serif;
}

.title {
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.title a {
    text-decoration: none;
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

.submenu-container nav ul,
.header-container nav ul {
    margin: 0;
    padding: 0;
}

.submenu-container nav a,
.header-container nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    font-family: 'Source Sans Pro', sans-serif;
    /*background: #801b15;*/
}

.header-container nav a {
    color: white;
}

.submenu-container nav a {
    color: #3EABBB;
}

.submenu-container nav a:hover,
.header-container nav a:hover {
    color: #ffc851;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.fullwide {
    width: 100%;
}

.centered {
    display: block;
    margin: 0 auto;
}

.icon {
    margin: 0 1em;
}

.feature {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    width: 100%;
}

.features-container {
    padding: 0;
}

.feature h2 {
    line-height: 1.5;
    text-align: left;
}

.login-form {
    margin: 0 auto;
    width: 50%;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    .submenu-container nav a,
    .header-container nav a {
        float: left;
        margin: 0 1.7%;
        padding: 25px 2%;
    }

    .header-container nav a {
        width: 27%;
    }

    .submenu-container nav a {
        width: 18%;
    }

    .submenu-container nav li:first-child a,
    .header-container nav li:first-child a {
        margin-left: 0;
    }

    .submenu-container nav li:last-child a,
    .header-container nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    .submenu-container nav ul li,
    .header-container nav ul li {
        display: inline;
    }

    .submenu-container .oldie nav a,
    .header-container .oldie nav a {
        margin: 0 0.7%;
    }

}

@media only screen and (min-width: 768px) {

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    .header-container nav {
        float: right;
        width: 420px;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }

    .feature {
        padding: 0 15px;
        float: left;
        width: 45%;
        /*height: 350px;*/
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}