extends ../base

append head
    link(rel="stylesheet", href="/stylesheets/root_view.css")
    link(rel="stylesheet", href="/bower_components/vex/css/vex.css")
    link(rel="stylesheet", href="/bower_components/vex/css/vex-theme-plain.css")
    script.
        var ID = !{ JSON.stringify(ID) }; var URL = "/document/" + ID + "/document";
    script(data-main="/javascript/root_main", src="/bower_components/requirejs/require.js")

block title
    | qb - #{name}

block body
    canvas#cnvs(width="300", height="150")
        | Unfortunately, your browser doesn't support HTML5 canvas.
    div#cntrls
        .cntrls_logo qb
        input#presenter.chbx(type="checkbox")
        label.chbx_label(for="presenter") presenter
        br
        button#show_qr(disabled) Show QR code
